/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Tutorial Case

   Survey Forms Style Sheet
   Author: Charles Valenca
   Date:   June 23 2020

   Filename:         rb_forms.css

*/

/* Form Layout Styles */



/* Legend Styles */



/* Text Area Styles */



/* Spinner Styles */



/* Form Button Styles */



/* Validation Styles */

